{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load custom_dict %}
{% block title %}Expenses{% endblock %}

{% block bootstrap3_extra_head %}
<link rel="stylesheet" href="{% static 'css/changelog' %}">
{% endblock %}

{% block content %}
<div class="container">
  <h2>Approval Module</h2>
         
  <table class="table table-striped">
    <thead>

      <tr>
        <th>Name</th>
        <th>Amount</th>

        <th>Approved</th>
        <th>date</th>
        <th>Creator</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>

    {% for expense in expenses%}
      <tr>
        <td>{{expense.name}}</td>
        <td>
       <span class="badge">{{ expense.amount }}</span>
        </td>
        <td>{{ expense.approved }}</td>
        <td>{{ expense.date }}</td>
        <td>{{ expense.user }}</td>
        <td><a href="{% url 'approve' expense.id %}">Approve</a></td>

      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>





{% endblock %}

{% block bootstrap3_extra_script %}

{% endblock %}