{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load custom_dict %}
{% block title %}Expenses{% endblock %}

{% block bootstrap3_extra_head %}
<link rel="stylesheet" href="{% static 'css/changelog' %}">
{% endblock %}

{% block content %}
  <style type="text/css">

        #workstation_search {
          margin-left:15%;
          margin-right:50%;
        }



    </style>


<div class="container">
  <h2>APPROVED EXPENSE</h2>
         
  <table class="table table-striped">
    <thead>

      <tr>
        <th>Name</th>
        <th>Amount</th>

        <th>Status</th>
        <th>date</th>
        <th>Approver</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td><li class="active">{{expenseApproved.name}}</li></td>
        <td>
       <span class="badge">{{ expenseApproved.ammount }}</span>
        </td>
        <td>{{ expenseApproved.approved }}</td>
        <td>{{ expenseApproved.date }}</td>
        <td>{{ expenseApproved.user }}</td>
      </tr>

    </tbody>
  </table>
</div>


{% endblock %}

{% block bootstrap3_extra_script %}

{% endblock %}