{% extends 'bootstrap.html' %}

{% load bootstrap3 %}
{% load staticfiles %}
{# Load CSS and JavaScript #}
{% block bootstrap_css %}

{% endblock %}
{% block jsveforeboostrap %}


{% endblock %}


{% bootstrap_messages %}


{% block bootstrap3_content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.0/vis.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.0/vis.min.css">
<link rel="stylesheet" href="{% static 'css/row.css' %}">

    <div class="navbar navbar-inverse navbar">
        <div class="container-fluid">

              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                {% if username == None %} <a class="navbar-brand" href="{% url 'home' %}">FactureSoft</a>/li>{% endif %}
                {% if username != None %} <a class="navbar-brand" href="{% url 'home' %}">FactureSoft - {{ username }}</a></li>{% endif %}
               
              </div>
              <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="{% url 'home' %}">Home</a></li>
                  {% if username == None %}<li class="active"><a href="{% url 'signin' %}">Sign-In</a></li>{% endif %}
                  {% if username == None %}<li class="active"><a href="{% url 'signup' %}">Sign-Up</a></li>{% endif %}
                  {% if username != None %}<li class="active"><a href="{% url 'myAccount' %}">My Account</a></li>{% endif %}
                  {% if username != None %}<li class="active"><a href="{% url 'addExpense' %}">Add Expense</a></li>{% endif %}
                  {% if admin == True %}<li class="active"><a href="{% url 'approveExpenses' %}">Approve Expenses </a></li>{% endif %}
              </li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
        </div>



        
    <div id="row" class="row">
{% block content %}(no content){% endblock %}
    </div>


{% endblock %}

